<div class="modal fade" id="privileges-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="privileges-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privileges-modal-title">Agregar privilegios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>

