<div id="particles-id" style="width: 100%; height: 100%; background: #212E3B; position: relative;">
  <div style="padding-top: 5%; padding-left: 36%; position: absolute;">
    <%= image_tag"logo.png" %>
    <div class="card" style="position: absolute; margin-left: 10px">
      <div class="card-header">
        <h3>Inicia Sesión</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Usuario">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <input type="submit" value="Iniciar sesión" class="btn float-right login_btn">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>