<% provide(:title, 'Usuarios') %>
<div class="masonry-item col-md-6">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5 class="float-left">Usuarios</h5>
        <button type="button" class="btn btn-outline-light float-right btn-sm" id="modal-trigger"
                data-toggle="modal" data-target="#">
          <i class="ti-user"></i>
          Roles
        </button>
        <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                      id="new-user-button"">
                      <i class="ti-plus"></i>
                      Registrar Usuario
                    </button>'.html_safe,
                    new_user_path
        %>
      </div>
      <div class="layer w-100 p-20 text-center">
        <div class="form-group row">
          <label class="col-sm-4" for="sel1">Selecciona Rol:</label>
          <div class="col-sm-4">
            <select class="form-control" id="sel1">
              <option>Administrador</option>
              <option>Supervisor</option>
              <option>Cliente</option>
            </select>
            <br>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary">
              Consultar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="masonry-item col-md-6">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5 class="float-left">Resultado de Consulta de Usuarios
        </h5>
      </div>
      <div class="layer w-100 p-20 text-center">

      </div>
    </div>
  </div>
</div>