<% provide(:title, 'Usuario') %>
<div class="masonry-item col-md-10 offset-md-1">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-secondary c-white layer w-100 p-15">
        <h5 class="pull-right">Usuario - <%= @user.name + " " + @user.lastName %>
          <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                        id="new-user-button"">
                        <i class="ti-pencil"></i>
                        Editar Usuario
                      </button>'.html_safe,
                      edit_user_path(@user)
          %>
        </h5>
      </div>
      <div class="layer w-100 p-20 text-center">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>