<% provide(:title, 'Reportes Generales') %>
<div class="masonry-item col-md-12">
  <!-- #Todo ==================== -->
  <div class="bgc-white">
    <div class="layers">
      <h1>reportes generales</h1>
    </div>
  </div>
</div>
