<% provide(:title, 'Nuevo Proyecto') %>
<div class="masonry-item col-md-10 offset-md-1">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                    projects_path
        %>
        <h5 class="float-left pL-15">Nuevo Proyecto</h5>
      </div>
      <div class="layer w-100 p-20 text-center">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
