<h1>Hola <%= @name %>, </h1>
  <p>
    Tu cuenta ha sido creada en la plataforma de Inframex, para ingresar da click al
    siguiente enlace <%= link_to @url.to_s, @url.to_s %> <br/>
    tu contraseña asignada es: <%= @pass %>.<br> al correo: <%= @email %>,
    puedes ingresar a la plataforma
    y cambiarla desde tu perfil de usuario.
  </p>
<p>Bienveido a Inframex!!</p>
