<h1>Hola <%= @user.name %> <%= @user.lastName%>, </h1>
  <p>
    Para completar el proceso de creación de tu cuenta en Inframex, es necesario
    que proporciones la contraseña en el siguiente formulario disponible en el
    siguiente enlace <%= link_to "Completar registro", edit_password_url(@user.reset_digest,
                                                        email: @user.email) %><br/>
  </p>

<p>Bienvenido a Inframex!!</p>
