<h1>Hola <%= @user.name %> <%= @user.lastName%>, </h1>
  <p>
    Tu contraseña ha sido correctamente modificada, para ingresar da click al
    siguiente enlace <%= link_to @url.to_s, @url.to_s %> <br/>
    tu nueva contraseña es: <%= @pass %>.<br>
    Puedes ingresar a la plataforma y cambiar tu contraseña en el apartado de perfil
  </p>
<p>Gracias por continuar con nosotros!!</p>
