<h1>Hola <%= @user.name %> <%= @user.lastName%>, </h1>
  <p>
    El correo ha sido enviado para proporcionarte una formulario seguro para
    restaurar tu contraseña, para eso es necesario dar click al
    siguiente enlace <%= link_to "Resturar contraseña seguro", edit_password_url(@user.reset_digest,
                                                        email: @user.email) %><br/>
  </p>

<p>Gracias por continuar con nosotros!!</p>
