<%= form_for @category do |f| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-md-12">
            <p>Los campos marcados con '*' son obligatorios.</p>
          </div>

          <div class="col-md-12 mT-15">
            <%= f.label :name, "* Nombre de la categoría:" %>
            <%= f.text_field :name, class:"form-control", placeholder: "e.g. Cambiar esto" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
    <%= f.submit "Guardar", class: 'btn save-button' %>
  </div>
<% end %>