<% if @categories.blank? %>
<div class="row">
    <div class="col-md-10">
        <h2 class="display-4">Categorías</h2>
        <p class="lead">Actualmente no se encuentra niguna categoría dentro de la plataforma.</p>
    </div>
</div>

<% else %>

<div class="row">
    <div class="col-md-10">
        <h2 class="display-4">Categorías</h2>
        <p class="lead">Aqu&iacute; encontrarás a todas las categorías que están dentro de la plataforma</p>
    </div>
</div>


<table class="table table-hover" role="datatable">
    <thead>
    <tr class="tableHead">
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |a| %>
    <tr>
        <td><%= a.name-%></td>
    </tr>

    <% end %>
    </tbody>
</table>
<%end%>