<% provide(:title, 'Registrar Gasto') %>
<div class="masonry-item col-md-12">
  <div class="bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <% if has_privilege(current_user, "blog_1") %>
        <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                    project_blog_url(project_id: @project, id: @blog)
        %>
        <% end %>
        <h5 class="float-left pL-15">Registrar Gasto</h5>
      </div>
      <div class="layer w-100 p-20 text-center">
        <%= render "form" %>
      </div>

    </div>
  </div>
</div>