<% if object.errors.any? %>
  <div id="error_explanation">
    <div>
      <p><strong>
        La forma contiene <%= pluralize(object.errors.count, "error") %>.
      </strong></p>
    </div>
    <% object.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>¡Advertencia! </strong> <%= msg %>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
