<!--loader over layout-->
<div class="spinner" id="spinner"></div>

<script>
    $( document ).ready(function() {
        const spinner = document.getElementById('spinner');
        setTimeout(() => {
            spinner.classList.add('fadeOut');
        }, 1000);
    });
</script>