<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="#">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                  <%= image_tag "logo2.png", :style => "height: 65px;"  %>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <a class="sidebar-link" href="#">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
          <span class="title">Proyectos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-email"></i>
                </span>
          <span class="title">Usuarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-share"></i>
                </span>
          <span class="title">Catálogos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-calendar"></i>
                </span>
          <span class="title">Calendar</span>
        </a>
      </li>
    </ul>
  </div>
</div>